## SBT
.cache
.lib
dist/*
target
lib_managed
src_managed
project/boot
project/plugins/project
project/project

## Scala
.scala_dependencies
*.sc
#*.jar

## JetBrains
.idea
/out/

## File-based project format
*.ipr
*.iws
